/* -------------------- Цветовая схема - Серый -------------------------- */


#header h1 { color: #ffffff; font: bold 23pt/17pt Garamond, serif; }

#header h2 { color: #ffffff;  font: bold 21pt/13pt Garamond, sans serif; }
 
#header h3 { color: #ffffff;  font: normal 19pt/13pt Garamond, sans serif; }

h1 { font: bold 20pt Garamond, serif; color: #ffffff;  } 

h2 { font: bold 16pt Garamond, serif; color: #ffffff;  }
 
h3 { font: bold 14pt Garamond, serif; color: #ffffff; }

p {	font: 16pt/100% Garamond, serif; color: ghostwhite;}
 
li { font: 15pt/90% Garamond, serif; color: ghostwhite;}


a {	font: bolder 16pt Garamond, serif; color: #ffffff; }

a:hover { text-decoration: none; color: red;}

a:visited {	color: grey; }

#topblock { 
  border: none; 
  background: #000000;
  background: -webkit-gradient(linear, left top, left bottom, from(#9b2d30), to(#000000));           
	background: -moz-linear-gradient(top,  #9b2d30,  #000000);    
	background: -o-linear-gradient(top,  #9b2d30,  #000000);
	background: -ms-linear-gradient(top,  #9b2d30,  #000000);
  padding-bottom: 0pt; 
  margin-bottom: 0pt;
  }

#donntu a {	font: 14pt Garamond, serif; color: white; }

#donntu a:visited {	color: white; }

#header {
  min-height: 260px;
	background: #464451; 
	background: -webkit-gradient(linear, left top, left bottom, from(#9b2d30), to(#000000));           
	background: -moz-linear-gradient(top,  #9b2d30,  #000000);    
	background: -o-linear-gradient(top,  #9b2d30,  #000000);
	background: -ms-linear-gradient(top,  #9b2d30,  #000000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#9b2d30', endColorstr='#000000'); 
}

#headertext {
  padding-top: 1pt;
  padding-bottom: 1pt;
}

#photomag { padding-top: 5pt;}

#middleblock { background: #9b2d30; border: none;}
#maintext { background: #9b2d30; border: none; }

#menub { 
	background: #000000;
    background: -webkit-gradient(linear, left top, left bottom, from(#9b2d30), to(#000000));           
	background: -moz-linear-gradient(top,  #9b2d30,  #000000);    
	background: -o-linear-gradient(top,  #9b2d30,  #000000);
	background: -ms-linear-gradient(top,  #9b2d30,  #000000);	
	border-style: outset; 
    clear: both;
	text-align: center;
	padding: 8pt 0pt 8pt 0pt;
  background: #5da130	
	border: solid 1pt #000000;	}
  
.mitemb         {	color: white; font-size: 16pt; padding-left: 3pt; padding-right: 3pt;}
.mitemb:hover   { color: white;  }
.mitemb:visited { color: red; }
 
table#resume                  { font: 15pt Garamond, serif;  border-collapse:collapse; color: ghostwhite;}
table#resume td.c1            { font-weight: bold; color: LightBlue ;}
table#resume tr.odd           { background: none; }  
table#resume tr.even          { background: none; }
table#resume tr.odd:hover,
table#resume tr.even:hover    { background: grey;}  

table.search                  { width: 90%; color: ghostwhite;}
table.search                  { font: 12pt Garamond, serif;}
table.search tr.odd           { background: none; }      
table.search tr.even          { background: none; }
table.search tr.odd:hover,
table.search tr.even:hover    { background: grey;}  

table.search td.c1            { font-size: 15pt; color: white}
table.search td.cn a          { color: lightblue; font-size: 16pt;  }
table.search td.cn a:visited  { color: #bc7a4b; } 
table.search td.cn a:hover    { color: black; }    

table.search td.cspan p {  
  color: yellow; 
  font: 900 16pt/80% Garamond, serif;
  text-indent: 0pt; }

table.search tr td { border: 1pt solid #d9b76e; } 

.button {
	font: 900 16pt/70% Garamond, serif;
  margin: .7em .2em .11em .2em;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .2em;
  border: none;
 
	}

.color { 
  text-shadow: none;
	color: maroon; 
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(LightCoral ));              
	background: -moz-linear-gradient(top,  #7fff00,  #84a4bf);                                             
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#84a4bf'); }

.color:visited { 
	color: maroon; 
	text-shadow: none; } 
  
.color:hover { 
	background: #007ead;
	color: #212121;
	text-shadow: none;
	text-decoration: none;    
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(#C9765C));
	background: -moz-linear-gradient(top,  white,  #b4351a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#b4351a'); }

.colorfix { 
	color: black; 
	background: white;           
 }

.colorfix:hover { color: white; } 
 
.comment { 
  background: tan;
}

.imgcaption { margin: 10pt 0pt 0pt 0pt; }
.img { margin: 15pt 0pt 10pt 0pt; }

.lib p {margin-left: -15pt; }
.list p {margin-left: -15pt; }


body { margin-bottom: 0pt; }

li.lib .cat {color: white;}
li.list .cat {color: white;}


